# Ignore everything by default
# Files or directories we want to include with be specifically mentioned below
*

# Include this file
!.gitignore

# Include configuration files
!.config/paru
!.config/pacman
!.config/i3
!.config/i3blocks
!.zshrc
